body {
    background-color: beige;
    padding: 0px;
    margin: 0px;
}
.header{
    background-color: darkseagreen;
}
.nav-bar{
    background-color: lightblue;
    position:sticky;
    top:0;

    padding: 2%;
}
.nav-big {
    /* background-color: beige; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer{
    background-color: palegreen;
    position:absolute;
    /* bottom:0; */

}
.button {
    background-color: deepskyblue;
    width:20%;                          /* the width can be adjusted to the user's needs*/
    display: inline-block;
}
@media only screen and (max-width: 767px)
{
    .button {
        width: 100%;
        margin: 1%;
    }
    #nav-big{
        display: flex;
        flex-direction: row;
        justify-content: center;
        display: none;
    }
}
svg {
    height: 2%;
    width: 2%;
    margin: 0px;
}
.nav-small {
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    padding:0;

}
@media only screen and (min-width: 768px)
{
    .nav-small {
        display: none;
    }
}

.smallimg{
    width:170px;
    height: 170px;
    padding: 4%;
}

.bigimg{
    width:100%;
}